@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Nunito Sans", sans-serif;

}
.curved-effect {
  position: relative;
}

.curved-effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px; /* Adjust based on your design */
  height: 100%;
  background: url("/icons/curve.svg") no-repeat right center;
  background-size: contain;
}
